/****************** Cart ******************/
.cart-page-container {
  position: relative;
  width: 100%;
  margin: auto;
}

.cart-page-content {
  position: relative;
  display: grid;
  grid-template-columns: minmax(0, 66.66%) minmax(0, 33.33%);
  background-color: rgba(var(--secondary-color));
}

/************ Not Found ************/
.loading-page {
  width: 100%;
  height: calc(100dvh - 104px + 5rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: -5rem;
  gap: 1rem;
  font-family: var(--font-montserrat);
  animation: fade-in-up 400ms 200ms backwards;
}

.empty-cart {
  width: 375px;
  height: calc(100dvh - 104px - 250px);
  min-height: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  margin-top: -2.5rem;
  gap: 1rem;
  animation: fade-in-up 400ms 200ms backwards;
}

.empty-h1 {
  font-size: 32px;
}

.circle-background {
  position: relative;
  width: 170px;
  height: 170px;
  background-color: rgba(var(--secondary-color));
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-svg-box {
  width: 150px;
  height: 150px;
}

.empty-svg-star {
  width: 170px;
  height: 170px;
  margin-top: -1rem;
}

/****************** Cart Content Info Card ******************/
.cart-page-card-container {
  width: 75%;
  margin: 2.5rem auto;
  margin-bottom: 5.75rem;
}

.cart-page-card-container > *:not(:last-child) {
  margin-bottom: 0.5rem; 
}

.cart-page-card-container > *:last-child {
  margin-bottom: 0; 
}

.cart-page-header {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding-bottom: 1rem;
  animation: fade-in-up 400ms 200ms backwards;
}

.cart-page-header-h1 {
  font-family: var(--font-montserrat);
  font-size: 24px;
}

.cart-page-header-link {
  display: none;
  font-family: var(--font-montserrat);
  font-size: 14px;
  text-decoration: underline;
  transition: color 200ms ease;
}

.cart-page-card {
  aspect-ratio: 1.75/1;
  display: grid;
  position: relative;
  grid-template-columns: minmax(0, 50%) minmax(0, 50%);
  background-color: rgba(var(--primary-color));
  font-family: var(--font-montserrat);
  font-size: 15px;
  animation: fade-in-up 400ms 300ms backwards;
}

.cart-page-link {
  padding-right: 1rem;
  font-weight: 600;
  font-size: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: color 200ms ease;
}

.cart-page-link:hover, .cart-page-header-link:hover {
  color: rgba(var(--link-text-color));
}

.cart-page-image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.cart-page-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  padding: 0.5rem;
}

.cart-page-info-container-wrapper {
  border-left: 1px solid rgba(var(--inverse-color), 0.15);
}

.cart-page-info-header {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 1rem;
  border-bottom: 1px solid rgba(var(--inverse-color), 0.15);
}

.cart-page-info-container {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid rgba(var(--inverse-color), 0.15);
}

.cart-page-info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.cart-page-info {
  position: relative;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.cart-page-info.qty {
  align-items: end;
}

.cart-page-info > :last-child {
  padding-left: 0.5rem;
}

.cart-page-info span {
  text-align: right;
}

.cart-page-price-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 0.35rem;
}

.cart-page-price-wrapper {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: end;
  gap: 0.5rem;
  font-size: 18px;
}

.cart-page-discount-badge {
  display: inline-block;
  background: rgba(var(--secondary-color));
  font-family: var(--font-roboto);
  font-weight: 700;
  font-size: 14px;
  white-space: nowrap;
  padding: 0.1rem 0.25rem;
}

.cart-page-price, .cart-page-price-discounted, .cart-page-price-strike {
  font-weight: 400;
}

.cart-page-price-discounted {
  font-weight: 500;
  color: rgba(215, 0, 0, 1)
}

.cart-page-price-strike {
  color: rgba(var(--primary-text-color), 0.55);
  text-decoration: line-through;
}

.cart-page-qty {
  width: 50%;
  font-family: var(--font-montserrat);
  font-weight: 400;
  color: rgb(0, 75, 235);
}

.cart-page-qty.oos {
  color: rgba(235, 0, 0, 1)
}

.cart-page-buttons {
  width: 100%;
  height: 10%;
  display: flex;
}

.cart-page-buttons > *:not(:first-child) {
  border-left: 1px solid rgba(var(--inverse-color), 0.15);
}

.cart-page-btn {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  padding: 0.5rem;
  transition: color 200ms ease;
  line-height: normal;
}

.cart-page-btn:hover {
  color: rgba(var(--link-text-color));
}

.cart-page-btn.active {
  animation: button-click 300ms ease forwards;
}

.cart-page-btn-svg {
  width: 25px;
  height: 25px;
  flex: none;
}

/*** Wishlist ***/
.wish-page-content {
  position: relative;
  display: grid;
  grid-template-columns: minmax(0, 66.66%) minmax(0, 33.33%);
  background-color: rgba(var(--secondary-color));
}

.wish-page-content {
  display: flex;
  flex-direction: column;
  min-height: calc(100dvh - 104px - 250px);
}

.cart-page-card.wishlist-card {
  aspect-ratio: 3.5/1;
  grid-template-columns: minmax(0, 30%) minmax(0, 70%);
}

.cart-page-info-header.wishlist-card {
  height: 17.5%;
}

.cart-page-info-container.wishlist-card {
  height: 70%;
}

.cart-page-buttons.wishlist-card {
  height: 12.5%;
}

.cart-page-btn.disabled {
  background-color: rgba(var(--inverse-color), 0.5);
  cursor: default;
}

.cart-page-btn.disabled:hover {
  color: rgba(var(--primary-text-color));
}

/****************** Summary Content ******************/
.cart-page-summary-container {
  position: sticky;
  top: 104px;
  width: 100%;
  height: calc(100dvh - 104px);
  padding: 1rem;
  background-color: rgba(var(--primary-color));
  font-family: var(--font-montserrat);
}

.cart-page-summary-header {
  width: 90%;
  margin: auto;
  padding: 1rem 0;
  font-size: 24px;
  border-bottom: solid 1px rgba(var(--inverse-color), 0.25);
  animation: fade-in-up 400ms 200ms backwards;
}

.cart-page-summary-content {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 1.5rem auto;
  gap: 0.25rem;
  font-size: 15px;
  animation: fade-in-up 400ms 300ms backwards;
}

.cart-page-costs-info {
  display: flex;
  justify-content: space-between;
}

.cart-page-tax-info {
  color: rgba(var(--primary-text-color), 0.66);
  font-size: 12px;
}

.cart-page-summary-btns {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  gap: 1rem;
}

.cart-page-payment-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

.discount {
  color: rgba(215, 0, 0, 1);
}

.grand-total {
  border-top: 1px solid rgba(var(--inverse-color), 0.25);
  margin-top: 2rem;
  padding-top: 1rem;
  font-weight: 600; 
  font-size: 16px;
}

.margin-right {
  margin-right: 0.15rem;
}

/*** Mobile & Media Queries ***/
.cart-desktop {
  display: block;
}

.cart-mobile-1024 {
  display: none;
}

.cart-mobile-450 {
  display: none;
}

@media (max-width: 1536px) {
  .cart-page-card-container {
    width: 80%;
  }
}

@media (max-width: 1280px) {
  .cart-page-card-container {
    width: 92.5%;
  }

  .cart-page-info-header {
    height: 17.5%;
  }
  
  .cart-page-info-container {
    height: 70%;
  }

  .cart-page-buttons {
    height: 12.5%;
  }
}

@media (max-width: 1024px) {
  .cart-desktop {
    display: none;
  }

  .cart-mobile-1024 {
    display: block;
  }

  .empty-cart {
    width: 275px;
  }

  .empty-h1 {
    font-size: 22px;
  }

  .cart-page-header-link {
    display: inline;
  }

  .cart-page-card-container {
    margin: 2.5rem auto;
    margin-top: 1.5rem;
  }

  .cart-page-content {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgba(var(--secondary-color));
  }

  .cart-page-card {
    height: 350px;
    grid-template-columns: none;
    margin: auto;
  }

  .cart-page-header, .cart-page-summary-header {
    font-size: 20px;
    align-items: center;
  }

  .cart-page-header-h1 {
    font-size: 20px;
  }

  .cart-page-summary-header {
    width: 80%;
  }
  
  .cart-page-info-header {
    height: 35%;
    display: grid;
    grid-template-columns: minmax(0, 25%) minmax(0, 75%);
    gap: 0.25rem;
    padding: 0;
  }

  .cart-page-image {
    padding: 0.35rem;
  }
  
  .cart-page-info-container {
    height: 50%;
  }

  .cart-page-buttons {
    height: 15%;
  }

  .cart-page-summary-container {
    height: auto;
    padding: 1rem;
    padding-bottom: 2rem;
    background-color: rgba(var(--primary-color));
  }

  /*** Wishlist ***/
  .wish-page-content {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgba(var(--secondary-color));
  }
  
  .cart-page-card.wishlist-card {
    aspect-ratio: 1.75/1;
    height: 350px;
    grid-template-columns: none;
  }
  
  .cart-page-info-header.wishlist-card {
    height: 35%;
    display: grid;
    grid-template-columns: minmax(0, 25%) minmax(0, 75%);
    gap: 0.25rem;
    padding: 0;
  }
  
  .cart-page-info-container.wishlist-card {
    height: 50%;
  }
  
  .cart-page-buttons.wishlist-card {
    height: 15%;
  }
}

@media (max-width: 768px) {
  .cart-page-card {
    width: 80%;
    height: 350px;
  }

  .cart-page-info-header {
    grid-template-columns: minmax(0, 30%) minmax(0, 70%);
  }
}

@media (max-width: 450px) {
  .cart-page-card {
    width: 100%;
    height: 350px;
  }

  .cart-mobile-1024.ns {
    display: none;
  }

  .cart-mobile-450 {
    display: block;
  }

  .cart-page-price-wrapper {
    font-size: 16px;
  }
}

@media (max-width: 330px) {
  .cart-page-buttons {
    font-size: 14px;
  }
}

/*** CSSTransition ***/
.badge-enter {
  opacity: 0;
  animation: fade-in-up 300ms;
}

.badge-enter-active {
  opacity: 1;
  animation: fade-in-up 300ms;
}

.badge-exit {
  opacity: 1;
  animation: fade-out-up 300ms;
}

.badge-exit-active {
  opacity: 0;
  animation: fade-out-up 300ms;
}

/*** Scrollbar ***/
@supports selector(::-webkit-scrollbar) {
  .cart-page-container::-webkit-scrollbar {
    width: 4px;
  }

  .cart-page-container::-webkit-scrollbar-track {
    background: transparent;
  }
}